:root {
    --space-1: .1rem;
    --space-2: .25rem;
    --space-3: .5rem;
    --space-4: .75rem;
    --space-5: 1rem;
    --space-6: 1.15rem;
    --space-7: 1.25rem;
    --space-8: 1.5rem;
    --space-9: 1.75rem;
    --space-10: 2rem;
}