:root {
  .tableContainer {
    padding: var(--space-10);

    tbody {
      tr:last-child {
        border: none;
      }

      tr {
        transition: background-color 0.1s ease-in;
      }

      tr:hover {
        cursor: pointer;
        background-color: var(--row-hover);
      }

      tr.noneHover:hover {
        cursor: default;
        background-color: transparent;
        transition: none;
      }

      .selectedRow {
        background-color: var(--row-selected);
      }
    }

    table {
      width: 100%;
      border-collapse: collapse;
      table-layout: fixed;

      font-size: var(--fs-body2);

      th,
      td {
        text-align: left;
        padding: var(--space-7);
        font-weight: var(--fw-semibold);
      }

      tr {
        border-bottom: 1px solid var(--border-default);
      }

      .tdCenter,
      .thCenter {
        text-align: center;
      }
    }
  }
}
