.cardRoot {
  display: flex;
  flex-direction: column;
  align-self: flex-start;

  border: 1px solid var(--border-default);
  border-radius: var(--radius-xxl);
  background: var(--card-background);

  .cardRootHeader {
    padding: var(--space-10);
    h2 {
      font-size: var(--fs-h3);
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: var(--space-5);
    padding: var(--space-10);

    .title {
      font-size: var(--fs-body);
      font-weight: var(--fw-semibold);
    }

    .description {
      font-size: var(--fs-body2);
      font-weight: var(--fw-default);
      color: var(--text-secondary);
    }
  }
}
