.appRoot {
    display: flex;
    flex-direction: column;

    height: 100dvh;
    box-sizing: border-box;

    justify-content: space-between;

    .contentRoot {
        display: flex;
        flex-direction: column;

        flex: 1;
        margin: 0 auto;

        padding: var(--space-10);
        gap: var(--space-10);

        @media screen and (min-width: 1921px) {
            max-width: 1920px;
        }
    }
}