.listContainer {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  padding: var(--space-10);
  column-gap: var(--space-5);
  row-gap: var(--space-10);

  .listRow {
    display: flex;
    align-items: center;
    gap: var(--space-5);

    .number {
      display: flex;
      align-items: center;
      justify-content: center;

      width: 2.5rem;
      height: 2.5rem;

      border: 1px solid var(--border-default);
      border-radius: var(--radius-l);
      color: var(--text-primary);
      font-weight: var(--fw-bold);
    }

    .listRowContent {
      display: flex;
      flex-direction: column;
      gap: var(--space-1);

      .date {
        font-size: var(--fs-body2);
        color: var(--text-secondary);
      }

      .description {
        font-weight: var(--fw-semibold);
        font-size: var(--fs-body);
        color: var(--text-primary);
      }
    }
  }
}
