.categoryLineHeaderRoot {
  display: flex;
  align-items: center;

  gap: var(--space-5);

  .number {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 2.5rem;
    height: 2.5rem;

    border: 1px solid var(--border-default);
    border-radius: var(--radius-l);

    color: var(--text-secondary);
    font-weight: var(--fw-bold);
  }

  .descriptionContainer {
    display: flex;
    flex-direction: column;

    gap: var(--space-1);

    .descriptionContainerTitle {
      font-size: var(--fs-body);
      font-weight: var(--fw-bold);
    }

    .description {
      font-size: var(--fs-body2);
      color: var(--text-secondary);
      font-weight: var(--fw-default);
    }
  }
}
