.defectsHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: var(--space-3) var(--space-10);
  gap: var(--space-10);

  h2 {
    flex-shrink: 0;
    font-size: var(--fs-h3);
  }
}
