.finishedCasesTableRoot {
    display: flex;
    flex-direction: column;

    width: 100%;

    border: 1px solid var(--border-default);
    border-radius: var(--radius-l);
    background: var(--card-background);

    .searchPanel,
    .finishedCasesTableHeader {
        padding: var(--space-5);
        border-bottom: 1px solid var(--border-default);

        h1 {
            font-size: var(--fs-h3);
            text-wrap: nowrap;
        }

        .titleWithSearchField {
            width: 50%;
            display: flex;
            gap: var(--space-5);

            align-items: center;
        }

    }

    .finishedCasesTableHeader {
        display: flex;
        justify-content: space-between;
        align-items: center;

        gap: var(--space-5);
    }
}