.uslRoot {
    display: flex;
    flex-direction: column;
    gap: var(--lg-space-2);
    height: 100%;
    width: 100%;

    .lineContainer {

        display: flex;
        flex-direction: column;
        gap: var(--space-5);

        .categoryLine {
            display: flex;
            gap: var(--space-5);

            .medDevTableRoot,
            .uslTableRoot {
                display: flex;
                flex-direction: column;
                align-self: flex-start;

                border: 1px solid var(--border-default);
                border-radius: var(--radius-l);
                background: var(--card-background);

                .medDevTableRootHeader,
                .uslTableRootHeader {
                    padding: var(--space-5);
                    border-bottom: 1px solid var(--border-default);

                    h1 {
                        font-size: var(--fs-h3);
                    }

                }
            }

            .bProtsTableRoot {
                flex: 0 0 30rem;
            }

            .onkUslTableRoot {
                flex: 1 1 0;
            }

            .injDateTableRoot {
                flex: 0 0 20rem;
            }
        }
    }
}