.diagnosticsTableRoot {
  display: flex;
  flex-direction: column;

  border: 1px solid var(--border-default);
  border-radius: var(--radius-xxl);
  background: var(--card-background);

  .diagnosticsTableRootHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--space-10);
    gap: var(--space-10);

    h2 {
      flex-shrink: 0;
      font-size: var(--fs-h2);
    }
  }
}
