.filtersPanelRoot {
  display: flex;
  align-self: flex-start;
  flex-direction: column;
  justify-content: space-between;

  border: 1px solid var(--border-default);
  border-radius: var(--radius-xxl);
  background: var(--card-background);

  .filtersList {
    padding: var(--space-5);
    padding-top: 0;

    .filtersListHeader {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: var(--space-10) var(--space-5);

      h2 {
        font-size: var(--fs-h3);
      }
    }

    ul {
      display: flex;
      flex-direction: column;
      list-style: none;

      margin: 0;
      padding: 0;
      gap: var(--space-1);
    }

    .selectedRow {
      background-color: var(--gray-200);
    }

    .noneSelected:hover {
      background-color: var(--list-background-hover);
      cursor: pointer;
    }

    li {
      display: flex;
      justify-content: space-between;

      padding: var(--space-4) var(--space-5);
      border-radius: var(--radius-l);

      transition: 0.1s ease;

      .namingGroup {
        display: flex;
        align-items: center;
        gap: var(--space-3);

        p {
          font-size: var(--fs-body);
          font-weight: var(--fw-semibold);

          user-select: none;
        }
      }

      .counter {
        display: flex;
        justify-content: center;
        align-items: center;

        font-size: var(--fs-body2);
        font-weight: var(--fw-semibold);

        padding: var(--space-3) var(--space-4);
        background-color: var(--gray-200);
        border-radius: var(--radius-l);
      }
    }
  }

  .actionsField {
    display: flex;
    flex-direction: column;
    justify-content: center;

    padding: var(--space-5);
  }
}
