.badge {
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: var(--fs-body2);
  font-weight: var(--fw-semibold);

  padding: var(--space-2) var(--space-4);
  gap: var(--space-3);
  border-radius: var(--radius-l);
}

.empty,
.waiting {
  background-color: var(--gray-200);
  color: var(--gray-900);
}

.loading {
  background-color: var(--blue-opacity);
  color: var(--blue);
}

.fetching {
  background-color: var(--violet-opacity);
  color: var(--violet);
}
