.invoicesTableRoot {
    display: flex;
    flex-direction: column;

    width: 50%;

    border: 1px solid var(--border-default);
    border-radius: var(--radius-l);
    background: var(--card-background);

    .searchPanel,
    .invoicesTableHeader {
        padding: var(--space-5);

        h1 {
            font-size: var(--fs-h3);
        }

        border-bottom: 1px solid var(--border-default);
    }

    .tableContainer {
        padding: var(--space-5);
    }

}