.invoiceSummaryRoot {
    display: flex;
    align-self: flex-start;
    flex-direction: column;

    .invoiceSummaryCard {
        display: flex;
        flex-direction: column;
        align-self: flex-start;

        flex: 1;

        padding: var(--space-10);
        gap: var(--space-5);

        border: 1px solid var(--border-default);
        border-radius: var(--radius-l);
        background: var(--card-background);

        .cardHeader {
            h2 {
                font-size: var(--fs-h3);
                font-weight: var(--fw-bold);
            }
        }

        .subcategory {
            display: flex;
            flex-direction: column;
            gap: var(--space-5);

            .subcategoryHeader {
                h3 {
                    font-size: var(--fs-h4);
                    font-weight: var(--fw-semibold);
                }
            }

            .cardField {
                display: flex;
                flex-direction: column;
                gap: var(--space-2);

                label {
                    color: var(--text-secondary);
                    font-size: var(--fs-body2);
                }

                p {
                    color: var(--text-primary);
                    font-weight: var(--fw-default);
                    font-size: var(--fs-body);
                }
            }

            .cardLineThreeRow {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                column-gap: var(--space-10);
            }

            .cardLineTwoRow {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                column-gap: var(--space-10);
            }

            .cardLineOneRow {
                display: grid;
                grid-template-columns: repeat(1, 1fr);
            }

        }
    }

    .ksgCard {
        width: 60%;
    }

    .vmpCard {
        min-width: 50%;
    }

}